@charset "UTF-8";
body 
{ 
    background: linear-gradient(to bottom right,green, #ffffff);
    background-attachment: fixed;
    font-family: Alkalami; 
    padding:0px; 
    margin:0px; 
}

#wrapper {
    padding: 0 80px
}

#navbar{
    margin: 0;
}

#nav {
    background-color: black;
    padding: 0.001em 0;
    overflow: hidden;
    text-align: center;
    margin: 0;
}

#nav li a.active {
    background-color: #ddd;
    color: black;
  
  }

#nav li {
    float: left;
    display: inline;
}

#nav a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 17px 20px;
    text-decoration: none;
    font-size: 17px;
}

#nav a:hover {
    background-color: grey;
    color: black;
}

#content {
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}

img {
    height: 50%;
    width: 60%;
}

img:hover {
    transform: scale(1.02);
    transition: transform .2s;
}