@charset "UTF-8";
body 
{ 
    background: linear-gradient(green, #ffffff);
    background-attachment: fixed;
    font-family: Alkalami; 
    padding:0px; 
    margin:0px; 
}

#wrapper {
    padding: 0 30px
}

#nav {
    overflow: auto;
    background-color: black;
    margin: 0;
    padding: 0;
    width: auto;
    text-align: center;
}

#nav li {
    display: block;

}

#nav li a.active {
    background-color: #ddd;
    color: black;
  
  }

#nav a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 17px 20px;
    text-decoration: none;
    font-size: 17px;
}

#nav a:hover {
    background-color: grey;
    color: black;
}

#content {
    text-align: center;
}


/*code for footer to stay in place when scrolling*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

/*code for images to resize according to the window*/
img {
    height: 50%;
    width: 50%;
}

#scream {
    height: 100px;
    width: 100px;
}

/*code for images to enlargen when hovering over it*/
img:hover {
    transform: scale(1.02);
    transition: transform .2s;
}

video {
    width: 45%;
    height: 60%;
}
body {
    min-height: 140vh;
    display: flex;
    flex-direction: column;
}

/*Rounded off the corners in this picture */
#natureLance {
    border-radius: 20%;

}

footer {
    margin-top: auto;
}
