@charset "UTF-8";
body 
{ 
    background: linear-gradient(#eff0c0, #ffffff);
    background-attachment: fixed;
    font-family: Alkalami; 
    padding:0px; 
    margin:0px; 
}

#wrapper {
    padding: 0 80px
}

#nav {
    margin: 1%;
    background-color: black;
    padding: 0.001em 0;
    overflow: hidden;
    top: 0;
}

#nav a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 17px 20px;
    text-decoration: none;
    font-size: 17px;
}

#nav a:hover {
    background-color: grey;
    color: black;
}

h1 {
    text-align: left;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}